{% extends 'main.html' %}

{% block content %}
    <div class="container">
        <div class="details">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><h1>{{ view.title }}</h1></h3>
                </div>
                <div class="panel-body">
                    {% for key, value in object.data %}
                        <div class="row">
                            <div class="col-sm-2">
                                <strong> {{ key }}: </strong>
                            </div>
                            <div class="col-sm-6">
                                {{ value }}
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <a class="btn btn-success col-sm-3 col-sm-offset-2"
                           href="editar/{{ object.id }}">Editar</a>
                        <a class="btn btn-danger col-sm-3 col-sm-offset-2"
                           href="eliminar/{{ object.id }}">Eliminar</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
