{% extends 'volunteers/templates/main.html' %}
{% load widget_tweaks %}

{% block content %}
<div class="container">
    <div class="well">
        <div class="col-sm-offset-2 col-md-offset-2">
            <h1>{{ view.title }}</h1>
        </div>
        <div class="form-container col-sm-offset-2 col-md-offset-2">
            <form class="form-horizontal" method="post"> {% csrf_token %}
                {% for input in form %}
                    <div class="form-group">
                        {% if input.field.required %}
                            <label class="control-label col-sm-2 col-md-2">
                                <strong> {{ input.label }} </strong>
                            </label>
                        {% else %}
                            <label class="control-label col-sm-2 col-md-2">
                                {{ input.label }}
                            </label>
                        {% endif %}
                        <div class="col-md-7 col-sm-6">
                            {{ input|add_class:'form-control'}}
                        </div>
                        {% if input.errors %}
                            <div class="col-sm-3 alert-danger errors">
                                {{ input.errors }}
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
                <div class="form-group">
                    <div class="col-sm-offset-4 col-sm-8 col-md-offset-4 col-md-8">
                        <input class="btn btn-info" type="submit" value="Enviar"/>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
