{% load staticfiles %}

<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="UTF-8">
        <title> AyudaQro </title>
        <link rel="icon" href="{% static 'img/logo_icon_50.png' %}"/>
        {#  CSS  #}
        <link href='http://fonts.googleapis.com/css?family=Raleway:700,400'
              rel='stylesheet' type='text/css'>
        <link href="https://necolas.github.io/normalize.css/3.0.2/normalize.css"
              rel="stylesheet"/>
        <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"
              rel="stylesheet">
        <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"
              rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}"/>
    </head>
    <body>
        <div id="body-wrapper">
            <header>
                <nav class="row">
                    <div class="logo col-md-2 col-md-offset-1 col-sm-2 col-sm-offset-1 col-xs-2 col-xs-offset-1">
                        <p class="text-center"><a href="/"> <img
                                src="{% static 'img/logo_alpha_50p.png' %}"
                                alt="logo"/> </a></p>
                    </div>
                    <div class="menu col-md-7 col-sm-7 col-xs-7">
                        <ul class="list-inline ">
                            <li><a href="/">Principal</a></li>
                            <li><a href="/instituciones">Instituciones</a></li>
                            <li><a href="/programas">Programas</a></li>
                            <li><a class="cta" href="/voluntarios/nuevo">Participa</a></li>
                        </ul>
                    </div>
                    {# User auth #}
{#                    <div class="dropdown col-md-1 col-sm-1 col-xs-1" id="user-auth ">#}
{#                        {% if request.user %}#}
{#                            <button class="btn dropdown-toggle"#}
{#                                    id="dropdownLogin" data-toggle="dropdown"#}
{#                                    role="button" aria-expanded="false">#}
{#                                <i class="fa fa-sign-in fa-2x"></i>#}
{#                            </button>#}
{#                            <div class="login-form dropdown-menu"#}
{#                                 aria-labelledby="dropdownLogin">#}
{#                                <form class="form-horizontal">#}
{#                                    <div class="form-group">#}
{#                                        <label class="col-sm-2 control-label">Usuario</label>#}
{##}
{#                                        <div class="col-sm-10">#}
{#                                            <input type="text"#}
{#                                                   class="form-control">#}
{#                                        </div>#}
{#                                    </div>#}
{#                                    <div class="form-group">#}
{#                                        <label class="col-sm-2 control-label">Contraseña</label>#}
{##}
{#                                        <div class="col-sm-10">#}
{#                                            <input type="password"#}
{#                                                   class="form-control">#}
{#                                        </div>#}
{#                                    </div>#}
{#                                    <div class="form-group">#}
{#                                        <div class="col-sm-offset-2 col-sm-10">#}
{#                                            <button type="submit"#}
{#                                                    class="btn btn-info">#}
{#                                                Sign in#}
{#                                            </button>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </form>#}
{#                            </div>#}
{#                        {% else %}#}
{#                            <button class="btn dropdown-toggle" id="dropdownLogout" data-toggle="dropdown" role="button" aria-expanded="false">#}
{#                                <i class="fa fa-user fa-2x"></i>#}
{#                            </button>#}
{#                            <div class="logout-form dropdown-menu" aria-labelledby="dropdownLogout">#}
{#                                <a class="bnt btn-info" href="/logout">#}
{#                                    <span class="text-big">#}
{#                                        Logout#}
{#                                        <i class="fa fa-sign-out fa-2x"></i>#}
{#                                    </span>#}
{##}
{#                                </a>#}
{#                            </div>#}
{#                        {% endif %}#}
{#                    </div>#}

                </nav>
            </header>
            <div class="content">
                {% block content %} {% endblock %}
            </div>
            <footer>
                <p> AyudaQro | {% now "Y" %} </p>
            </footer>
        </div>
        {#  JS  #}
        <script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    </body>
</html>
