html,
body {
  margin: 0;
  padding: 0;
  font-family: "Raleway";
  background: #F6F6F6;
  height: 100%;
}
a {
  color: inherit;
  text-decoration: blink;
}
a:hover {
  color: #e53b51;
  text-decoration: none;
}
a:active {
  font-weight: bolder;
}
textarea {
  resize: none;
  height: 5em!important;
}
div,
span,
.well,
.container,
.btn,
.jumbotron {
  border-radius: 0;
}
#body-wrapper {
  min-height: 100%;
  position: relative;
}
header {
  width: 100%;
  position: fixed;
  top: 0;
  height: 96px;
  background: #1cc3c9;
  z-index: 99;
  box-shadow: #393939 3px 0 5px;
}
header nav div {
  line-height: 90px;
}
header nav .logo {
  font-size: 1.3em;
}
header nav .menu ul {
  float: right;
}
header nav .menu ul li {
  font-size: 1.3em;
  line-height: 60px;
  list-style: none;
  margin: 5px;
  padding: 5px;
  color: #f6f6f6;
}
header nav .menu ul li .cta {
  padding: 15px;
  background: #00acc1;
  font-weight: 700;
  text-decoration: none;
}
header nav .menu ul li .cta:hover {
  color: #e53b51;
}
header nav #user-auth {
  background: #1cc3c9;
}
.content {
  background: #f6f6f6;
  font-size: 1m;
  padding-bottom: 70px;
  padding-top: 90px;
}
footer {
  height: 70px;
  width: 100%;
  position: absolute;
  bottom: 0;
  line-height: 60px;
  text-align: center;
  background: #393939;
  color: #f6f6f6;
  font-weight: 700;
}
section {
  width: 100%;
  min-height: 50vh;
}
#home #main {
  background: #f6f6f6;
}
#home #main #carousel .carousel-inner {
  height: 60vh;
}
#home #main #carousel .carousel-info {
  position: absolute;
  top: 15%;
  left: 15%;
}
#home #main #carousel .carousel-info .jumbotron {
  padding: 50px;
  background: rgba(200, 200, 200, 0.9);
}
#home #info {
  padding: 20px 0;
  background: #dddddd;
}
#home #steps {
  margin: 0 auto;
  display: block;
  width: 72vw;
}
#home #steps #how-icons div {
  padding: 30px;
  background: #393939;
  color: #f6f6f6;
  text-align: center;
}
#home #steps #how-text {
  line-height: 40px;
  text-align: center;
  font-size: 1.3em;
  color: #393939;
}
#home #steps #how-text h1 {
  min-height: 70px;
  text-align: center;
}
#home #about {
  padding: 20px 0;
  background: #c3c3c3;
}
.carousel-fade .carousel-inner .item {
  opacity: 0;
  transition-property: opacity;
}
.carousel-fade .carousel-inner .active {
  opacity: 1;
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-control {
  z-index: 2;
}
.errors ul {
  list-style: none;
}
.list,
.details,
.confirm {
  margin: 50px 0;
}
.controls {
  margin-top: 30px;
  margin-right: 50px;
  float: right;
}
